apiai==1.2.3
certifi==2019.3.9
chardet==3.0.4
idna==2.8
numpy==1.16.2
pyTelegramBotAPI==3.6.6
requests==2.20.0
six==1.12.0
telebot==0.0.3
urllib3==1.24.1
python-telegram-bot==11.1.0
giphy_client==1.0.0
googletrans==2.4.0
beautifulsoup4==4.8.2
pydnevnikruapi==0.0.7
